body {
  margin: 0;
  background: #000f1d;
  cursor: crosshair;
  text-align: center;
}
canvas{display:block}
h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 5em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}
h5 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 1.5em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}
h6 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 1em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}
p {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 1em;
  font-weight: 900;
  -webkit-user-select: none;
  user-select: none;
}
.gift-box {
  background-color: #ff3366;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #fff;
  color: #ff3366;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #ff3366;
  color: #fff;
}
